<!-- /**
 * Created by WangZiHe on 2017/10/6
 * QQ/WeChat:648830605
 * QQ-Group:368512253
 * Blog:www.520code.net
 * Github:https://github.com/yancheng199287
 */ -->

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>介绍 — Vue.js</title>
    <meta charset="utf-8">
    <meta name="description" content="Vue.js - The Progressive JavaScript Framework">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        #example {
            margin-top: 15px;
        }
    </style>
</head>

<body class="container">

    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <hr/>

    <div id="example-2">
        <span>在文本区域插值( &lt;textarea> &lt;/textarea> ) 并不会生效，应用 v-model 来代替:</span>
        <p style="white-space: pre">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <hr />

    <div id="example-3">
        <span> 复选框按钮</span>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>

        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>

        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <hr />


    <div id="example-4">
        <span> 单选框按钮</span>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

    </div>
    <hr />

    <div id="example-5">
        <span> 下拉列表</span>
        <select v-model="selected">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

    </div>

    <hr />


    <div id="example-6">
        <span> 按住ctrl键，可多选列表</span>
        <select v-model="selected" multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>

    <hr />


    <div id="example-7">
        <span> 动态选项，用 v-for 渲染选择列表</span>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>

    </div>

    <hr />

    <div id="example-8">

        <p>
            v-bind与v-model区别? v-model用在表单控件上的，用于实现双向数据绑定，所以如果你用在除了表单控件以外的标签是没有任何效果的。 v-bind用于绑定属性和数据 ，其缩写为“ : ” 也就是v-bind:id === :id
        </p>

        <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">

    </div>

    <hr />

    <div id="example-9">

        <input type="radio" v-model="pick" v-bind:value="a">

    </div>

    <hr />

    <div id="example-10">

        <select v-model="selected">
            <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123 }">123</option>
        </select>

    </div>

    <hr />


    <div id="example-11">

        <p>
            在默认情况下， v-model 在 input 事件中同步输入框的值与数据，但你可以添加一个修饰符 lazy ，从而转变为在 change 事件中同步： 当你输入完数据，光标移除输入框后触发事件
        </p>
        <!-- 在 "change" 而不是 "input" 事件中更新 -->
        <input v-model.lazy="msg">

        <span>{{msg}}</span>

    </div>

    <hr />


    <div id="example-12">
        <p>如果想自动将用户的输入值转为 Number 类型（如果原值的转换结果为 (NaN,NaN 属性是代表非数字值的特殊值) 则返回原值），可以添加一个修饰符 number 给 v-model 来处理输入值： 控制台输入 typeof
            example12.age 返回 “number”
        </p>

        <input v-model.number="age" type="number">
    </div>

    <hr />

    <div id="example-13">

        <p>
            如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入
        </p>

        <input v-model.trim="msg">

    </div>




</body>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            message: 123
        }
    })


    var example2 = new Vue({
        el: '#example-2',
        data: {
            message: 123
        }
    })


    var example3 = new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })

    var example4 = new Vue({
        el: '#example-4',
        data: {
            // 默认选中一个单选按钮  与其单选按钮的value相应一致
            picked: 'One'
        }
    })


    var example5 = new Vue({
        el: '#example-5',
        data: {
            selected: 'A'
        }
    })


    var example6 = new Vue({
        el: '#example-6',
        data: {
            selected: ['A']
        }
    })


    var example7 = new Vue({
        el: '#example-7',
        data: {
            selected: 'A',
            options: [{
                    text: 'One',
                    value: 'A'
                },
                {
                    text: 'Two',
                    value: 'B'
                },
                {
                    text: 'Three',
                    value: 'C'
                }
            ]
        }
    })


    var example8 = new Vue({
        el: '#example-8',
        data: {
            toggle: true,
            a: true,
            b: false
        }
    })

    var example9 = new Vue({
        el: '#example-9',
        data: {
            pick: true,
            a: false
        }
    })

    var example10 = new Vue({
        el: '#example-10',
        data: {
            selected: '123'
        }
    })


    var example11 = new Vue({
        el: '#example-11',
        data: {
            msg: '123'
        }
    })

    var example12 = new Vue({
        el: '#example-12',
        data: {
            age: 0
        }
    })


    var example13 = new Vue({
        el: '#example-13',
        data: {
            msg: 0
        }
    })
</script>

</html>